<ul class="tasks_list">
  <li class="task">
    <div class="task_title">Заявка №123</div>
    <div class="task__row">Логин: <span>Braer</span></div>
    <div class="task__row">Адрес: <span>ул.Гладкова д.82 кв.123</span></div>
    <div class="task__row">Назначенное время: <span>с 10:00 до 14:00</span></div>
    <div class="task__row">Назначенные сотрудники: Тюбик, Левин</div>
    <div class="task__row">Описание заявки:
      <div class="mission">
        Был сломан интернет неизвестными хакерами
      </div>
    </div>
    <div class="task__row">
      Выполненные работы:
      <div class="mission_complite">
      _________________________________________________________<br>
      _________________________________________________________
      </div>
    </div>
    <div class="task__row">
      Время: ______________ / Подпись клиента: ____________________
    </div>
  </li>
  <li class="task">
    <div class="task_title">Заявка №124</div>
    <div class="task__row">Логин: <span>Braer</span></div>
    <div class="task__row">Адрес: <span>ул.Гладкова д.82 кв.123</span></div>
    <div class="task__row">Назначенное время: <span>с 10:00 до 14:00</span></div>
    <div class="task__row">Назначенные сотрудники: Тюбик, Левин</div>
    <div class="task__row">Описание заявки:
      <div class="mission">
        Был сломан интернет неизвестными хакерами
      </div>
    </div>
    <div class="task__row">
      Выполненные работы:
      <div class="mission_complite">
      _________________________________________________________<br>
      _________________________________________________________
      </div>
    </div>
    <div class="task__row">
      Время: ______________ / Подпись клиента: ____________________
    </div>
  </li>
</ul>